.confirm-button-large {
  color: #fff;
  background-color: #009688;
  height: 45px;
  width: 270px;
  font-size: 17pt;
}
.confirm-button-small {
  color: #fff;
  background-color: #009688;
  height: 33px;
  width: 100px;
  font-size: 12pt;
}
.cancel-button-small {
  color: #009688;
  background-color: #d5d5d5;
  height: 33px;
  width: 100px;
  font-size: 12pt;
}

.no-box-shadow {
  box-shadow: none;
}

.mdl-layout {
  align-items: center;
  justify-content: center;
}

.center-text {
   text-align: center;
}

.cyan-override-bg {
  background: rgb(0,150,136);
}

.big-button {
  width: 270px;
  height: 45px;
}

.small-circle-button {
  height: 28px;
  width: 28px;
  min-width: 28px;
  min-height: 28px;
}

.hidden {
  display: none;
}

.collapsible-body {
  padding: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.min-40 {
  min-width: 30px;
}

.btn-small i{
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
}

.btn-floating.btn-small {
  height: 25px;
  line-height: 25px;
  width: 25px;
}

.input-field {
  margin-top: 0;
  height: inherit;
  margin-bottom: 10px;
}

a {
  font-size: 14px;
  color: black;
}

body {
  font-size: 14px;
}
