.chrome {
    width: 350px;
    height: 520px;

    background: rgb(243,243,243);	
    border-radius: 2px;
    filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.24));


    nav {
        background: rgb(243,243,243);	
        box-shadow: none;
    }

    .settings {
        color: black;
    }

    .chrome-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}
